body {
  font-family: "Kanit";
  background-color: black;
}

/* Start coding here */
*{
  padding: 0%;
}

.blog {
  position: relative;
  top: 250px;
  left: 600px;
}

.box {
  width: 645px; 
  height: 335px;  
  background-color: whitesmoke;
}

.pic {
  border-radius: 10px;
  position: absolute;
  top: 15px; 
  left: 10px;
}

.text {
  color: white;
  font-size: 30px;
  position: 5;
}

.boxhead {
  width: 100px;
  height: 40px;
  background-color: hsl(240, 2%, 38%);
  position: absolute;
  left: 540px;
  bottom: 260px;
}

.text1 {
  position: absolute;
  bottom: 20px;
  left: 15px;
}

.boxtext {
  width: 620px; 
  height: 280px;  
  background-color: black;
  position: absolute;
}